#k_Text{
    margin-left: 20px;
    margin-top: 40px;
    font-size: 50px;
    width: 75%;
    background-color: white;
    
}

#k_Add{
    margin-top: 5px;
    font-size: 43px;
    width: 15%;
    background-color: white;
}

